.navbar {
  background-color: #2a2a2a;
  a {
    text-decoration: none;
  }
}

.title {
  color: #fff;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}

.menu {
  color: #fff;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}