.header-wrapper {
  background-color: rgb(0, 81, 146);
  position: fixed;
  width: 100%;
  .header-inner {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .logo-wrapper {
      padding: 10px;
      display: flex;
      .logo-inner {
        a {
          color: white;
          text-decoration: none;
        }
      }
      .navi-box {
        color: white;
        margin: 0 10px;
      }
    }
    .navi-wrapper {
      .navi-inner {
        display: flex;
        padding: 10px;
        .navi-box {
          margin: 0 10px;
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}