.card-title.border-bottom {
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-text {
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.section.text-center {
  padding-top: 63px;
  .img-fluid {
  width: 100%;
  }
}

a.img.card-img-top {
  img {
  width: 100%;
  }
}

.carousel-inner {
  max-height: 500px;
}