.main-wrapper {
  padding-top: 56px;
  .main-inner {
    .main-image {
      img {
        width: 100%;
        height: 800px;
      }
    }
  }
}

.section.text-center {
  padding-top: 63px;
  .img-fluid {
  width: 100%;
  }
}